Auto Static-dynamic File Analysis.json
{
  "name": "Auto Static-dynamic File Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "61dab5ad-7b4a-457e-be1e-0e5837140a3a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        576,
        0
      ],
      "id": "0d374a05-4885-4c7f-b2ac-376b601446bf",
      "name": "Webhook",
      "webhookId": "61dab5ad-7b4a-457e-be1e-0e5837140a3a"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "    CREATE table IF NOT EXISTS FileAnalyzes (\n      id serial primary key,\n      fileName text,\n      userAgent text,\n      foundBazaar text,\n      entropy int,\n      hash text,\n      threatLevel text,\n      TIMESTAMP text,\n      actionNeeded TEXT,\n      actionAI text\n    )",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        784,
        -144
      ],
      "id": "d50ecb48-a26d-4421-b84c-21f5f81b5ab2",
      "name": "Create table",
      "credentials": {
        "postgres": {
          "id": "whVr1hBPilqT5aCo",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "fileanalyzes",
          "mode": "list",
          "cachedResultName": "fileanalyzes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "actionneeded": "={{ $json.action_needed }}",
            "useragent": "={{ $('Webhook').item.json.headers[\"user-agent\"] }}",
            "filename": "={{ $('Webhook').item.json.body.filename }}",
            "hash": "={{ $('Webhook').item.json.body.sha256 }}",
            "foundbazaar": "={{ $('Webhook').item.json.body.malware_bazaar.status }}",
            "entropy": "={{ $('Webhook').item.json.body.entropy }}",
            "timestamp": "={{ $('Webhook').item.json.body.timestamp }}",
            "threatlevel": "={{ $('Webhook').item.json.body.threat_level }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "useragent",
              "displayName": "useragent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "foundbazaar",
              "displayName": "foundbazaar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "entropy",
              "displayName": "entropy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "hash",
              "displayName": "hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "threatlevel",
              "displayName": "threatlevel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "actionneeded",
              "displayName": "actionneeded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1392,
        0
      ],
      "id": "d0709d4a-0384-48cc-bd65-c147438aca25",
      "name": "Add the file to database",
      "credentials": {
        "postgres": {
          "id": "whVr1hBPilqT5aCo",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI agent working as a SOC analyst.\nYou monitor files on a linux system.\nYou will receive data from a file such as its entropy, its threat level and output from a sandbox test and you will decide if the file is malicious or not. If it is in fact malicious you should provide an small explanation and some instructions in how to handle it.\nThe file information is:\nfilename:{{ $json.body.filename }}\nentropy:{{ $json.body.entropy }}\nsandbox output:{{ $json.body.sandbox_output }}\nthreat level:{{ $json.body.threat_level }}\nfile lenght:{{ $json.headers['content-length'] }}\nuser agent: {{ $json.headers['user-agent'] }}\nfile hash: {{ $json.body.sha256 }}\n\n\nYour output must not include anything other than what's needed to complete your task. So don't output text like \"i will now analyze this\".\n\nAt the end of your output you MUST ALWAYS write:\naction_needed: [true or false] in JSON format. DO NOT ADD ANYTHING ELSE TO THAT LAST LINE. ONLY WRITE \"action_needed: [true or false]\" IN JSON FORMAT",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        896,
        0
      ],
      "id": "6609ba87-cd7e-474a-bf45-93144b2411d1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3-12hilos:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        896,
        144
      ],
      "id": "28811397-ffba-4547-878e-b1da0862d40e",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "l4sYS6BjEynul4sw",
          "name": "OllamaThinkpad"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const rawText = $json.output;\nconst regex = /(?:action[_\\s]needed).*?\\b(true|false|yes|no)\\b/is;\nconst match = rawText.match(regex);\nif (match && match[1]) {\n    const word = match[1].toLowerCase();\n    \n    \n    const isActionRequired = (word === 'true' || word === 'yes');\n\n    return {\n        action_needed: isActionRequired,\n        detected_value: word,\n        status: \"success\"\n    };\n}\n// fallback\nreturn {\n    action_needed: false,\n    status: \"failed\",\n    debug: \"No se encontró rastro de la decisión en el texto\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        0
      ],
      "id": "ac30c176-9ba4-4ec6-b133-a2377d26f467",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code in JavaScript').item.json.action_needed }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "4a2a63fb-c9a3-4c6f-af4a-69d1b1a57157"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1552,
        0
      ],
      "id": "0d5c2660-faf8-48ab-832c-dea05ed21f85",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI agent inside an N8N workflow. You are only activated if a dangerous file is detected.\nYou will receive data from this dangerous file. You need to tell us what to do to solve the problem.\n\nFile data:\nlenght:{{ $('Webhook').item.json.headers['content-length'] }}\ntype:{{ $('Webhook').item.json.headers['content-type'] }}\n\nfilename:{{ $('Webhook').item.json.body.filename }}\nsha256 hash:{{ $('Webhook').item.json.body.sha256 }}\n\nwas the hash found in malwarebazaar or not?:{{ $('Webhook').item.json.body.malware_bazaar.status }}\nentropy:{{ $('Webhook').item.json.body.entropy }}\nsandbox execution output:{{ $('Webhook').item.json.body.sandbox_output }}\n\nthreat level:{{ $('Webhook').item.json.body.threat_level }}\nyara rules match:{{ $('Webhook').item.json.body.yara_matches[0] }}\n\nAll this data was previously analysed by another AI agent and this was the result: {{ $('AI Agent').item.json.output }}\n\n\nUse all the provided data to decide the best course of action to remediate the issue\nYour output should be a simple text stating what to do\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1696,
        0
      ],
      "id": "943a4ee8-3db8-43ed-a982-94f6ad1e8b68",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "llama3-12hilos:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1696,
        144
      ],
      "id": "44c50a5a-91a5-4986-9c15-937367028bd1",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "l4sYS6BjEynul4sw",
          "name": "OllamaThinkpad"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "fileanalyzes",
          "mode": "list",
          "cachedResultName": "fileanalyzes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Add the file to database').item.json.id }}",
            "actionai": "={{ $json.output }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "useragent",
              "displayName": "useragent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "foundbazaar",
              "displayName": "foundbazaar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "entropy",
              "displayName": "entropy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "hash",
              "displayName": "hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "threatlevel",
              "displayName": "threatlevel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "actionneeded",
              "displayName": "actionneeded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "actionai",
              "displayName": "actionai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1968,
        0
      ],
      "id": "44fcbf78-245d-4d20-8578-dceaeeb70ab1",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "whVr1hBPilqT5aCo",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "python-requests/2.32.5",
            "accept-encoding": "gzip, deflate",
            "accept": "*/*",
            "connection": "keep-alive",
            "content-length": "429",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "filename": "pruebapython.py",
            "sha256": "0d35c97c3fe1719cea2b73330fadb7d96afa1e3ed6d1b2da8419e824ce6cd293",
            "malware_bazaar": {
              "known": false,
              "status": "not_found",
              "message": "Hash not found in MalwareBazaar."
            },
            "entropy": 5.4069,
            "yara_matches": [
              "suspicious_behavior"
            ],
            "sandbox_output": "root\n[*] Iniciando conexión con C2: http://91.234.56.78/pwned.sh\n",
            "threat_level": "HIGH",
            "timestamp": "2026-01-07 23:56:49"
          },
          "webhookUrl": "http://localhost:5678/webhook-test/61dab5ad-7b4a-457e-be1e-0e5837140a3a",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Add the file to database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add the file to database": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4050938c-5b88-47ba-aa52-f500fea8a2e9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "09e853f660e1570a47f9dcf1b1317f3cfe7883f48e448d11c823219fdfcd32a5"
  },
  "id": "OL5FnuNk9A5iiEGc",
  "tags": []
}